@model IEnumerable<Top2000.Models.ListViewModel>
@{
    ViewBag.Title = "Home Page";
}
<div class="lijsttop">
    <h2>Top 2000</h2>
    @using (Html.BeginForm("Index", "List", FormMethod.Get))
    {
<form asp-controller="Liedjes" asp-action="Index">
    @Html.TextBox("searching")<input type="submit" value="Search" placeholder="Zoek Nummer" />
</form>
    }
    @if (User.IsInRole("Admin"))
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }
</div>
    @if (Model != null)
    {
        <table id="lijsttop" class="table" data-sortable>
            <thead>
                <tr>
                    <th>
                        <p>Positie</p>
                    </th>
                    <th>
                        <p>Artiest</p>
                    </th>
                    <th>
                        <p>Nummer</p>
                    </th>
                    <th>
                        <p>Jaar</p>
                    </th>
                    <th></th>
                </tr>
            </thead>

            @foreach (var item in Model.Where(l => l.ListYear == 2017))
            {
                <tr>
                    <td class="Plaats">
                        @Html.DisplayFor(modelItem => item.ListPosition)
                    </td>
                    <td class="Artiest">
                        @Html.DisplayFor(modelItem => item.ArtistName)
                    </td>
                    <td class="Titel">
                        @Html.DisplayFor(modelItem => item.SongName)
                    </td>
                    <td class="Jaar">
                        @Html.DisplayFor(modelItem => item.SongYear)
                    </td>
                </tr>
            }
        </table>
    }