@model IEnumerable<Top2000.Models.ListViewModel>
@{
    ViewBag.Title = "Home Page";
}

@if(User.IsInRole("Admin"))
{ 
<p>
    @Html.ActionLink("Create New", "Create")
</p>
}

    @if (Model != null)
    {
        <table class="table">
            <tr>
                <th>
                    @Html.ActionLink("Positie", "Index", new { sortOrder = ViewBag.ListPositionSortParm })
                </th>
                <th>
                    @Html.ActionLink("Artiest", "Index", new { sortOrder = ViewBag.ArtistNameSortParm })
                </th>
                <th>
                    @Html.ActionLink("Nummer", "Index", new { sortOrder = ViewBag.SongNameSortParm })
                </th>
                <th>
                    @Html.ActionLink("Jaar", "Index", new { sortOrder = ViewBag.SongYearSortParm })
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ListPosition)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ArtistName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SongName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SongYear)
                    </td>
                    @*@if (User.IsInRole("Admin"))
                        {
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.SongID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.SongID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.SongID })
                        </td>
                        }*@
                </tr>
            }
        </table>
    }
