@model IEnumerable<Top2000.Models.ListViewModel>
@{
    ViewBag.Title = "Home Page";
}
<div class="lijsttop">
    <h2>Top 2000</h2>
    @using (Html.BeginForm())
    {
        <p>
            @Html.TextBox("SearchString", null, new { @placeholder = "Zoek titel of artiest..." })
            <input type="submit" value="Search" />
        </p>
    }
</div>
    @if (Model != null)
    {
        <table id="lijsttop" class="table" data-sortable>
            <thead>
                <tr>
                    <th>
                        @Html.ActionLink("Positie", "Index", new { sortOrder = ViewBag.ListPositionSortParm })
                    </th>
                    <th>
                        @Html.ActionLink("Artiest", "Index", new { sortOrder = ViewBag.ArtistNameSortParm })
                    </th>
                    <th>
                        @Html.ActionLink("Nummer", "Index", new { sortOrder = ViewBag.SongNameSortParm })
                    </th>
                    <th>
                        @Html.ActionLink("Jaar", "Index", new { sortOrder = ViewBag.SongYearSortParm })
                    </th>
                 </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ListPosition)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ArtistName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SongName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SongYear)
                    </td>
                </tr>
            }
        </table>
    }