@model Top2000.Models.List

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>List</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ListPosition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListPosition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Song.SongName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Song.SongName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
